<!DOCTYPE html>
<html lang="en">
<%- include('../views/parcials/head.ejs')  %>
<body>
    <%- include('../views/parcials/nav.ejs') %>

    <div class="not-found content">
        <p>
            Opss page not found :)
        </p>
    </div>

    <%- include('../views/parcials/footer.ejs') %>
</body>
</html>