<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog site | <%= title %></title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Blog site</a>
            <p>A David Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div>
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
    </div>
</body>
</html>