<!DOCTYPE html>
<html lang="en">
<%- include('../views/parcials/head.ejs')  %>
<body>
    <%- include('../views/parcials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci a iusto tenetur ab ut aspernatur aut, deleniti enim facilis reiciendis nobis, explicabo numquam expedita nam aperiam culpa debitis odit tempora?</p>
    </div>

        <%- include('../views/parcials/footer.ejs') %>

</body>
</html>