<!DOCTYPE html>
<html lang="en">Document
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog site | <%= title %></title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Blog site</a>
            <p>A David Blog</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div>
        <form action="/">
            <label for="title">Blog Title<title></title></label>
            <input type="text" id="title" required>
            <label for="title">name <title></title></label>
            <input type="text" id="title" required>
            <label for="title">Blog message <title></title></label>
            <textarea id="body"></textarea>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>